<<<<<<< HEAD
           <div class="post-section">
          {{#if image}}
            <img
              class="image"
              src={{image}}
              alt="Code editor"
            />
          {{/if}}
            <p>
              {{shortPost}}
            </p>
          </div>
=======
<h3>{{name}} - {{date}}</h3>
<div class='post-section'>
  {{#if image}}
    <img class='image' src={{image}} alt='Code editor' />
  {{else}}
    <p>OOPS</p>
  {{/if}}

  <p>{{shortPost}}</p>
</div>
>>>>>>> 0f3bd0fca5536a3d1fbc9e4c89b7e6d6e5e83d49
