<header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Dev Academy Blog'</h1>
      <article class="type">
        {{#each blogs}}
          <h2>{{blogType}}<h2>
          <div class="posts">
            {{#each details}}
              <h3>{{name}} - {{date}}</h3>
              <div class="post-section">
            <img
              class="image"
              src={{image}}
              alt="Code editor"
            />
            <p>{{shortPost}}</p>
          </div>
          </div>
          
        </div>
            {{/each}}
          
          
        </div>
        {{/each}}
        
      </article>

    </main>